<app-navbar></app-navbar>

<div class="container">
  
  <h1 style="text-align: center">
    {{ title }}
  </h1>

  <div id="textoPantalla">
    <div class="row justify-content-end align-items-start">
        <p *ngFor="let i of numerosSeleccionados" > 
          <input type="button" value="{{i}}">
        </p> 
    </div>
  </div>

  <div class="p-4 borde mt-5">
    <div class="row justify-content-center align-items-center">
      <app-numeros-ba (numeroSeleccionado)="mostrarNumero($event)"  [numeros]="numeros" ></app-numeros-ba>
      <app-operaciones-ba (resultado)="resultado($event)" (numerosEliminados)="numerosEliminados($event)" [numerosSeleccionados]="numerosSeleccionados" [valores]="valores" ></app-operaciones-ba>
    </div>
  </div>
  
</div>

<app-footer></app-footer>



